.container-header-fluid {
  height: 30vh;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.2)),
    url(/public/pictures/book-love.jpeg);
  background-position-y: 89%;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-size: 50px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.ms-n5 {
  margin-left: 40px;
  width: 45px;
  height: 45px;
  background-image: url(/public/pictures/search-icon.avif);
  background-color: black;
  background-size: cover;
}

.ms-n5:hover {
  opacity: 0.5;
}

.ms-n5:active {
  background-size: contain;
}
